@media(max-width:1500px){
    .landing-statement-picture__img{
        width: 500px;
    }

    .contact-contents__wrapper{
        margin-left: 350px;
    }
}

@media(max-width:1100px){
    .landing-statement-picture__img{
        width: 400px;
    }

    .landing-statement__wrapper h1{
        width: 350px;
    }

    .landing-statement__wrapper p{
        width: 350px;
    }

    .contact-contents__wrapper{
        margin-left: 250px;
    }

    .contact-contents__wrapper p{
        font-size: 12px;
    }
}

@media(max-width:950px){
    .contact-contents__wrapper p{
        font-size: 10px;
    }
}

@media(max-width:800px){
    .landing-hauora-image-container__wrapper{
        display: block;
        text-align: center;
    }

    .landing-nav__list{
        display: flex;
        justify-content: center;

        margin-right: 0px;
        gap: 0px;
    }

    .landing-statement__wrapper{
        display: block;
    }

    .landing-statement__wrapper h1{
        text-align: center;
        width: 300px;
    }

    .landing-statement__wrapper p{
        width: 300px;
    }

    .contact-contents__wrapper p{
        font-size: 9px;
    }
}